<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Web Design Mastery | Power</title>
  </head>
  <body>
    <header class="header">
      <nav>
        <div class="nav__header">
          <div class="nav__logo">
            <a href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" />Power</a>
          </div>
          <div class="nav__menu__btn" id="menu-btn">
            <span><i class="ri-menu-line"></i></span>
          </div>
        </div>
        <ul class="nav__links" id="nav-links">
          <li class="link"><a href="#home">Home</a></li>
          <li class="link"><a href="#about">About</a></li>
          <li class="link"><a href="#class">Classes</a></li>
          <li class="link"><a href="#trainer">Trainers</a></li>
          <li class="link"><a href="{{ url_for('progress') }}">Progress</a></li>
          <li class="link"><button class="btn">Contact Us</button></li>
        </ul>
      </nav>
      <div class="section__container header__container" id="home">
        <div class="header__image">
          <img src="{{ url_for('static', filename='images/header.png') }}" alt="header" />
        </div>
        <div class="header__content">
          <h4>Build Your Body &</h4>
          <h1 class="section__header">Shape Yourself!</h1>
          <p>
            Unleash your potential and embark on a journey towards a stronger,
            fitter, and more confident you. Sign up for 'Make Your Body Shape'
            now and witness the incredible transformation your body is capable
            of!
          </p>
          <div class="header__btn">
            <button class="btn">Join Today</button>
          </div>
        </div>
      </div>
    </header>

    <section id="chatbox-section" class="chatbox-section">
        <div class="container">
            <div class="chatbox">
                <div class="chatbox__support">
                    <div class="chatbox__header">
                        <div class="chatbox__image--header">
                            <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                        </div>
                        <div class="chatbox__content--header">
                            <h4 class="chatbox__heading--header">Chat support</h4>
                            <p class="chatbox__description--header">Hi. My name is Sam. How can I help you?</p>
                        </div>
                    </div>
                    <div class="chatbox__messages">
                        <div></div>
                    </div>
                    <div class="chatbox__footer">
                        <input type="text" placeholder="Write a message...">
                        <button class="chatbox__send--footer send__button">Send</button>
                    </div>
                </div>
                <div class="chatbox__button">
                    <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
                </div>
            </div>
        </div>
    </section>
    <section class="section__container about__container" id="about">
      <div class="about__image">
        <img class="about__bg" src="{{ url_for('static', filename='images/dot-bg.png') }}" alt="bg" />
        <img src="{{ url_for('static', filename='images/about.png') }}" alt="about" />
      </div>
      <div class="about__content">
        <h2 class="section__header">Our Story</h2>
        <p class="section__description">
          Led by our team of expert and motivational instructors, "The Class You
          Will Get Here" is a high-energy, results-driven session that combines
          a perfect blend of cardio, strength training, and functional
          exercises.
        </p>
        <div class="about__grid">
          <div class="about__card">
            <span><i class="ri-open-arm-line"></i></span>
            <div>
              <h4>Open Door Policy</h4>
              <p>
                We believe in providing unrestricted access to all individuals,
                regardless of their fitness level, age, or background.
              </p>
            </div>
          </div>
          <div class="about__card">
            <span><i class="ri-shield-cross-line"></i></span>
            <div>
              <h4>Fully Insured</h4>
              <p>
                Your peace of mind is our top priority, and our commitment to
                your safety extends to every aspect of your fitness journey.
              </p>
            </div>
          </div>
          <div class="about__card">
            <span><i class="ri-p2p-line"></i></span>
            <div>
              <h4>Personal Trainer</h4>
              <p>
                With personalized workout plans tailored to your needs, we will
                ensure that you get the most out of your gym experience.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section__container class__container" id="class">
      <h2 class="section__header">Our Classes</h2>
      <p class="section__description">
        Discover a diverse range of exhilarating classes at our gym designed to
        cater to all fitness levels and interests. Whether you're a seasoned
        athlete or just starting your fitness journey, our classes offer
        something for everyone.
      </p>
      <div class="class__grid">
        <div class="class__card">
            <a href="{{ url_for('videoanalysis') }}">
          <img src="{{ url_for('static', filename='images/dot-bg.png') }}" alt="bg" class="class__bg" />
          <img src="{{ url_for('static', filename='images/class-1.jpg') }}" alt="class" /></a>
          <div class="class__content">
            <h4>Strength Training</h4>
            <p>Resistance Training</p>

          </div>
        </div>
        <div class="class__card">
        <a href="{{ url_for('tips') }}">
          <img src="{{ url_for('static', filename='images/dot-bg.png') }}" alt="bg" class="class__bg" />
          <img src="{{ url_for('static', filename='images/class-2.jpg') }}"" alt="class" /></a>
          <div class="class__content">
            <h4>Flexibility & Mobility</h4>
            <p>gym-tips</p>
          </div>
        </div>
        <div class="class__card">
            <a href="{{ url_for('recamend') }}">
          <img src="{{ url_for('static', filename='images/dot-bg.png') }}" alt="bg" class="class__bg" />
          <img src="{{ url_for('static', filename='images/download 1.jpg') }}" alt="class" /></a>
          <div class="class__content">
            <h4>Diet tips</h4>
            <p>Circuit Training</p>
          </div>
        </div>
        <div class="class__card">
            <a href="{{ url_for('excess') }}">
          <img src="{{ url_for('static', filename='images/dot-bg.png') }}" alt="bg" class="class__bg" />
          <img src="{{ url_for('static', filename='images/ai.jpg') }}" alt="class" /></a>
          <div class="class__content">
            <h4>Ai-Workout _plan</h4>
            <p>Zumba or Dance</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section__container trainer__container" id="trainer">
      <h2 class="section__header">What People Says About Us?</h2>
      <p class="section__description">
        These testimonials serve as a testament to our commitment to helping
        individuals achieve their fitness goals, and fostering a supportive
        environment for everyone who walks through our doors.
      </p>
      <div class="trainer__grid">
        <div class="trainer__card">
          <img src="{{ url_for('static', filename='images/trainer-2.jpg') }}" alt="trainer" />
        </div>
        <div class="trainer__card">
          <div class="trainer__content">
            <h4>James Rodriguez</h4>
            <h5>Strength and Conditioning</h5>
            <hr />
            <p>
                The trainers here customized a plan that balanced my work-life
                demands, and I've seen remarkable progress in my fitness
                journey. It's not just a gym; it's my sanctuary for self-care.
            </p>
            <div class="trainer__socials">
              <a href="#"><i class="ri-facebook-fill"></i></a>
              <a href="#"><i class="ri-google-fill"></i></a>
              <a href="#"><i class="ri-instagram-line"></i></a>
              <a href="#"><i class="ri-twitter-fill"></i></a>
            </div>
          </div>
        </div>
        <div class="trainer__card">
          <img src="{{ url_for('static', filename='images/trainer-1.jpg') }}" alt="trainer" />
        </div>
        <div class="trainer__card">
          <div class="trainer__content">
            <h4>Mark Harris</h4>
            <h5>HIIT and Functional</h5>
            <hr />
            <p>
                This gym's 24/7 access has been a lifesaver. Whether it's a
                late-night workout or an early morning session, the convenience
                here is unbeatable.
            </p>
            <div class="trainer__socials">
              <a href="#"><i class="ri-facebook-fill"></i></a>
              <a href="#"><i class="ri-google-fill"></i></a>
              <a href="#"><i class="ri-instagram-line"></i></a>
              <a href="#"><i class="ri-twitter-fill"></i></a>
            </div>
          </div>
        </div>
        <div class="trainer__card">
          <img src="{{ url_for('static', filename='images/trainer-3.jpg') }}" alt="trainer" />
        </div>
        <div class="trainer__card">
          <div class="trainer__content">
            <h4>Emily Davis</h4>
            <h5>Yoga and Mindfulness</h5>
            <hr />
            <p>
                The trainers' expertise and the gym's commitment to cleanliness
                during these times have made it a safe haven for me to maintain
                my health and de-stress.
            </p>
            <div class="trainer__socials">
              <a href="#"><i class="ri-facebook-fill"></i></a>
              <a href="#"><i class="ri-google-fill"></i></a>
              <a href="#"><i class="ri-instagram-line"></i></a>
              <a href="#"><i class="ri-twitter-fill"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    
    <footer class="footer">
      <div class="section__container footer__container">
        <div class="footer__col">
          <div class="footer__logo">
            <a href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" />Power</a>
          </div>
          <p>
            Take the first step towards a healthier, stronger you with our
            unbeatable pricing plans. Let's sweat, achieve, and conquer
            together!
          </p>
          <div class="footer__socials">
            <a href="#"><i class="ri-facebook-fill"></i></a>
            <a href="#"><i class="ri-instagram-line"></i></a>
            <a href="#"><i class="ri-twitter-fill"></i></a>
          </div>
        </div>
        <div class="footer__col">
          <h4>Company</h4>
          <div class="footer__links">
            <a href="#">Business</a>
            <a href="#">Franchise</a>
            <a href="#">Partnership</a>
            <a href="#">Network</a>
          </div>
        </div>
        <div class="footer__col">
          <h4>About Us</h4>
          <div class="footer__links">
            <a href="#">Blogs</a>
            <a href="#">Security</a>
            <a href="#">Careers</a>
          </div>
        </div>
        <div class="footer__col">
          <h4>Contact</h4>
          <div class="footer__links">
            <a href="#">Contact Us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">BMI Calculator</a>
          </div>
        </div>
      </div>
      <div class="footer__bar">
        Copyright © 2024 All rights reserved.
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="main.js"></script>
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

  </body>
</html>